EMAIL_SERVICE=brevo
BREVO_USER=
BREVO_MASTER_KEY=
BREVO_FROM=
BREVO_TO=

# SEO & Analytics
NEXT_PUBLIC_SITE_URL=https://techhind.in
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
